<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target  xsi:type="File"
          name="simplefile"
          layout=":${longdate},${logger}, ${message}${onexception:${newline}EXCEPTION\:${exception:format=ToString}}"
          fileName="C:/LogFiles/BomUpload/current.log"
          archiveFileName="C:/LogFiles/BomUpload/archive-${shortdate}.log"
          archiveEvery="Day"
          archiveAboveSize="500000"
          archiveNumbering="Rolling"
          maxArchiveFiles="10"
          createDirs="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="simplefile" />
  </rules>
</nlog>
