<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--Connection strings to connect to DB2 database -->
  <connectionStrings>
    
    <!--PROD

	  <add name="XADB" connectionString="Provider=IBMDA400;User ID=NIGHTXA2XA;Password=x1234567;Data Source=BWCIPRD2;Force Translate=1;Default Collection=LIB*" />
	  <add name="SQLDB" connectionString="Data Source=PKGDWSQL01;Initial Catalog=BomUploadPRD; Persist Security Info=True; User ID=bomupload; Password=UOCK9F3PrkM1umYp7xTj;" />
    <add name="SQLDBAppLog01" connectionString="Data Source=PKGDWSQL01;Initial Catalog=DE_AppMetrics; Persist Security Info=True; User ID=bomupload; Password=UOCK9F3PrkM1umYp7xTj;" />
    -->
    <!--DEV-->

    <add name="XADB" connectionString="Provider=IBMDA400;Data Source=BWCIDEV2;User ID=NIGHTXA2XA;Password=x1234567;Force Translate=1;Default Collection=LIB*" />
    <add name="SQLDB" connectionString="Data Source=PKGDWSQL01;Initial Catalog=BomUpload; Persist Security Info=True; User ID=bomupload; Password=UOCK9F3PrkM1umYp7xTj;" />
    <add name="SQLDBAppLog01" connectionString="Data Source=PKGDWSQL01;Initial Catalog=DE_AppMetrics; Persist Security Info=True; User ID=bomupload; Password=UOCK9F3PrkM1umYp7xTj;" />
  </connectionStrings>
  
  <appSettings>
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  	  
	<!--PRD 	
  <add key="XASysIConn" value="Driver={Client Access ODBC Driver (32-bit)};System=BWCIPRD2;TRANSLATE=1;Uid=NIGHTXA2XA;Pwd=x1234567"/> 
	<add key="XASLSRVLET" value="http://BWCIPRD2:36001/SystemLink/servlet/SystemLinkServlet" />
    <add key="XASERVER" value="BWCIPRD2" />
    <add key="XASystemName" value="BWCIPRD2.BWCINC.ORG" />
    <add key="XAUser" value="NIGHTXA2XA" />
    <add key="XAPwd" value="x1234567"/>
-->
  <add key="MakeDelayInProcessMilliseconds" value="5000" />
  <add key="SELECT_ITMRVA" value="SELECT ITRV from AMFLIB[AS400LIB].itmrva where STID = ? AND itnbr = ?"/>
  <add key="SELECT_PSTHDR" value="SELECT COUNT(*) FROM AMFLIB[AS400LIB].PSTHDR WHERE STID = ? AND PINBR = ? AND PITR = ?"/>
  <add key="SELECT_PSTDTL" value="SELECT COUNT(*) FROM AMFLIB[AS400LIB].PSTDTL WHERE STID = ? AND PINBR = ? AND CINBR  = ? AND USRS1 = ? AND PITR = ?"/>
	  
	<!-- DEV   --> 
  <add key="XASysIConn" value="Driver={Client Access ODBC Driver (32-bit)};System=BWCIDEV2;TRANSLATE=1;Uid=NIGHTXA2XA;Pwd=x1234567"/>
  <add key="XASLSRVLET" value="http://BWCIDEV2:36001/SystemLink/servlet/SystemLinkServlet" />
    <add key="XASERVER" value="BWCIDEV2" />
    <add key="XASystemName" value="BWCIDEV2.BWCINC.ORG" />
    <add key="XAUser" value="NIGHTXA2XA" />
    <add key="XAPwd" value="x1234567" /> 

    <add key="DB2SP" value="" />
    <add key="IntervalTime" value="60000" />
    <add key="MAXIDLE" value="3600000" />   <!-- increased XA session MAXIDLE to 1 hour before half hour -->
	<add key="ReadCookieDataForListing" value="N" />

	<add key="SMTPHostName" value="SMTPRELAY.BWCINC.ORG"/>
	<!-- send.smtp.com| -->
	<add key="FROMEmail" value="itservice@barry-wehmiller.com"/>
	<add key="TOEmailITservice" value="ambrose.seeniraj@bwdesigngroup.com"/>
	<add key="TOEmail" value="ambrose.seeniraj@bwdesigngroup.com"/>
	<add key="TOEmail_Exception" value="Laxminarasaiah.guni@bwdesigngroup.com"/>
	<add key="CCEmail" value="ambrose.seeniraj@bwdesigngroup.com, Laxminarasaiah.guni@bwdesigngroup.com"/>
	<add key="CCEmailITservice" value="ambrose.seeniraj@bwdesigngroup.com"/>
	<add key="EmailSubject" value="BOM Upload to XA notification – Error in XA BOM"/>
  <add key="IncludeInSkipEmail" value ="Include email divert text"/>  
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>